body {
    background-color: #8da398e3;
    color: black;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: Aclonica, sans-serif;
    font-size: 18px;
    /* max-width: 960px; */
    text-align: center;
    margin: 0 auto;

}

#bb { 
    color: #000000;
    font-size: 22px;
}